header{
    display: flex;
    padding: 5px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: darkgoldenrod;
    height: 10vh;
}